.cshop-my {
    margin-bottom: 68px;
    .my-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 220px;
      background-image: url('../../images/user_bg.png');
      background-size: 375px 220px;
      img {
        border: 1px solid #fff;/*no*/
        padding: 5px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
      }
    }
  
    .my-order {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100vw;
      height: 45px;
      padding: 0 10px;
      background-color: #fff;
      border-bottom: 1px solid #e6e6e6;
      .order-left {
        display: flex;
        align-items: center;
        img {
          margin-right: 10px;
          width: 30px;
          height: 30px;
        }
  
        p {
          font-size: 16px;
          color: #333;
        }
      }
  
      .order-right {
        display: flex;
        align-items: center;
        p {
          font-size: 12px;
          color: #999;
        }
  
        i.icon.icon-toright {
          width: 20px;
          height: 20px;
        }
      }
    }
    .my-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100vw;
      height: 74px;
      margin-bottom: 10px;
      background-color: #fff;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        i.icon.icon-pay {
    
        }
        p {
          margin-top: 2px;
          color: #737373;
          font-size: 14px;
        }
      }
    }
    .my-operation {
      background-color: #fff;
      .item {
        padding: 0 10px;
        display: flex;
        justify-content:space-between;
        width: 100vw;
        height: 45px;
        border-bottom: 1px solid #e6e6e6;/*no*/
        .item-left{
          // position: relative;
          display: flex;
          align-items: center;
          img {
            margin-right: 10px;
            width: 30px;
            height: 30px;
          }

          p {
            color:#333;
            font-size: 16px;
          }
        }
        .item-right{
          display: flex;
          align-items: center;
          p{
            font-size: 16px;
            color: #333;
          }
          ::after{
            display: inline-block;
            margin-left: 5px;
            content: ">";
            color:#333;
            font-size: 16px;
          }
        }
      }
    }
  }