.cshop-tabbar {
    .tabbar-contnet {
  
    }
  
    .tabbar-footer {
        background-color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 66px;
        display: flex;
        border-top: 1px solid #ddd;/*no*/
        font-size: 16px;
        .active{
            color:var(--themeColor);
        }
      .footer-home {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        .icon.icon-home {
  
        }
  
        .item-title {
  
        }
      }
  
      .footer-community {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon.icon-community-o {
  
        }
  
        .item-title {
  
        }
      }
  
      .footer-cart {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon.icon-cart {
  
        }
  
        .item-title {
  
        }
      }
  
      .footer-my {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon.icon-my {
  
        }
  
        .item-title {
  
        }
      }
    }
  }